* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html, body{
    height: 100%;
    width: 100%;
}

@font-face{
    font-family: myFont;
    src: url(bad.t.otf);
}

#main{
    height: 100%;
    width: 100%;
    background-color: #FDE5D4;
    position: relative;
    padding-top: 1px;

}

#nav{
    height: 10vh;
    width: 100%;
    /* background-color: #E6A4B4; */
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
#nav h1{
    /* background-color: #3C0753; */
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
    font-weight: 500;
    font-family: monument;
    color: #402B3A;
    letter-spacing: -2px;
 }

#nav h2{
    /* background-color: #3C0753; */
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 18px;
    font-weight: 500;
    color: #402B3A;
 }

 #nav h2:nth-last-child(1){
    width: 10%;
    /* background-color: yellow; */
 }

 #center{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    padding: 3vw;
    position: relative;
 }

 #content{
    height: 100%;
    width: 100%;
    /* background-color: violet; */
    position: relative;
 }

 #content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }

 #overlay{
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color:rgba(0, 0, 0, 0.43); */
    backdrop-filter: blur(3px);
    padding: 4vw;
 }

 #over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
 }
 #over1 h1{
    font-family: monument;
    font-size: 3.5vw;
    font-weight: 500;
    color: #F6F6F6;
 }

 #over1 h2{
    font-size: 1vw;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    border: 1px solid #fff;
    border-bottom: 2px solid #fff;
    color: #F6F6F6;
    
 }

 #over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
    color: #F6F6F6;   
 }

 #over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
    color: #F6F6F6;
 }

 #over img{
    height: 3vw;
 }

 #scroll{
   height: 40vh;
   width: 100%;
   /* background-color: crimson; */
   white-space: nowrap;
   overflow-x: hidden;
   overflow-y: hidden;
 }
#container{
   height: 100%;
   width: 110%;
   /* background-color: royalblue; */
   display: inline-block;
   padding :2vw;
   animation-name: anime;
   animation-duration: 20s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
 #scroll img{
   /* display: none; */
   height: 80%;
   border-radius: 60%;
   width: 10%;
   margin: 10px;
   object-fit: cover;
   object-position:0%;
 }

 @keyframes anime {
   from{
      transform: translateX(0);
   }
   to{
      transform: translateX(-100%);
   }
 }

 #alphabet{
   height: 9vh;
   width: 100%;
   /* background-color: #402B3A; */
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1vw;
   border-top: 2px solid #000;
   border-bottom: 2px solid #000;

 }

 #alphabet h5{ 
   font-size: 1.2vw;
   text-transform: uppercase;
   font-weight: 400;
   font-style: italic;
   letter-spacing: 4px;
   border-bottom: 2px solid #000000;
   margin-right: 2vw;
 }

 #alphabet h6{
   font-size: 0.8vw;
   text-transform: uppercase;
   font-weight: 400;
   font-style: italic;
   letter-spacing: 4px;
   /* border-bottom: 2px solid #000; */
   /* background-color: yellowgreen; */
   padding: 0.5vw 0.7vw;
   cursor: pointer;
   border-radius: 50%;
   border: 1px solid #00000000;
   transition: all ease 0.3s;
 }
#alphabet h6:hover{
   border: 1.5px solid #000;
}
#page2{
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 5vw 2vw;
}

#page2-part1{
   height: 100%;
   width: 50%;
   background-image: url(https://images.unsplash.com/photo-1515511624704-b8916dcc30ea?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
   background-position: center;
}
#page2-part2{
   height: 100%;
   width: 40%;
}
#page2-part2 h1{
   font-size: 3vw;
   font-family: monument;
   font-weight: 500;
   margin-bottom: 2vw;
}
#page2-part2 img{
   height: 80%;
   /* width: 100%; */
}
#page3 {
   height: 100%;
   width: 100%;
   /* background-color: red; */
   position: relative;
   padding: 5vw 4vw;
}

#page3>h1 {
   text-align: center;
   font-family: monument;
   text-transform: uppercase;
   font-size: 3vw;
   /* font-weight: 900; */
   margin-bottom: 7vh;
}

.elem {
   height: 15.5vh;
   width: 100%;
   /* background-color: red; */
   border-top: 2px solid #000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 2vw;
   position: relative;

   transition: all ease 0.7s;

}

.elem img {
   height: 150px;
   width: 150px;
   position: absolute;
   border-radius: 50%;
   left: 12%;
   opacity: 0;
   object-fit: cover;
   object-position: top;
   transition: all ease 0.7s;
}

.elem h4 {
   font-size: 1.1vw;
   text-transform: uppercase;
   font-weight: 500;
   width: 6%;
   /* background-color: red; */
}

.elem .elem-part2 {
   width: 45%;
   /* background-color: red; */
}

.elem-part2 h1 {
   font-size: 2.7vw;
   font-weight: 500;
}

.elem-part2 h5 {
   font-size: 0.8vw;
   font-weight: 600;
   text-transform: uppercase;
}

.elem:nth-last-child(1) {
   border-bottom: 2px solid #000;

}

.elem:nth-last-child(1) img {
   left: 40%;
}

.elem:nth-last-child(3) img {
   left: 40%;
}

.elem:hover img {
   opacity: 1;
   left: 24%;
}

#marque {
   /* height: 15vh; */
   width: 100%;
   /* background-color: red; */
   padding: 0.8vw;
   white-space: nowrap;
   overflow-x: hidden;
   overflow-y: hidden;
   border-top: 2px solid #000;
   border-bottom: 2px solid #000;

}

#marque h1 {
   display: inline-block;
   font-size: 3vw;
   text-transform: uppercase;
   font-weight: 900;
   -webkit-text-stroke: 2px black;
   color: transparent;
   letter-spacing: 3px;
   font-family: monument;
   /* background-color: blue; */
   margin-right: 16px;
   animation-name: move;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@keyframes move {
   from {
       transform: translateX(0);
   }

   to {
       transform: translateX(calc(-100% - 20px));
   }
}

#footer {
   height: 100%;
   width: 100%;

}

@media (max-width:600px) {
   body {
       overflow-x: hidden;
   }

   #nav {
       height: 8vh;
       margin-top: 20px;
       padding: 0 5vw;
   }

   #nav h1 {
       width: 40%;
       justify-content: flex-start;
       font-size: 24px;
   }

   #nav h3 {
       display: block;
   }

   #nav h1::after {

       display: none;
   }

   #nav h1::before {
       display: none;

   }

   #nav h2 {

       display: none;

   }


   #center {
       height: 40%;
       width: 100%;
       /* background-color: red; */
       position: relative;
       padding: 3vw 4vw;
   }

   #content {
       height: 100%;
       width: 100%;
       background-color: blue;
       position: relative;
   }

   #content video {
       height: 100%;
       width: 100%;
       object-fit: cover;
   }

   #overlay {
       height:fit-content;
       width: 100%;
       position: absolute;
       bottom: 0;
       /* background-color: red; */
       padding: 3vw;
       color: #fff;

   }

   #over1 {
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin-bottom: 2vw;
   }

   #over1 h1 {
       font-family: monument;
       font-size: 5.5vw;
       font-weight: 100;

   }

   #over1 h2 {
       font-size: 2vw;
       padding: 3vw 3.2vw;
       /* background-color: blue; */
       border-radius: 50%;
       /* font-weight: 100; */
       border: 1px solid #fff;

   }

   #over2 {
       display: flex;
       align-items: center;
       justify-content: space-between;
       border-top: 2px solid #fff;
       padding: 1.5vw 0;
   }

   #over2 h4 {
       font-size: 3vw;
       font-weight: 500;
   }

   #over2 img {
       height: 5vw;
   }

   #scroll {
       height: 20vh;
       width: 100%;
       /* background-color: red; */
       /* padding: 1vw; */
       white-space: nowrap;
       /* display: flex; */
       overflow-x: hidden;
       overflow-y: hidden;
   }
   
   #container {
       height: 100%;
       width: 210%;
       /* background-color: blue; */
       display: inline-block;
       padding: 2vw;
       animation-name: anime;
       animation-duration: 8s;
       animation-iteration-count: infinite;
       animation-timing-function: linear;
   }
   
   #scroll img {
       /* display: none; */
       height: 95%;
       border-radius: 50%;
       width: 15.5%;
       margin: 1vw;
       object-fit: cover;
       object-position: 30% 30%;
   }
   
}